* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: #fff; */
    font-family: 'segoe UI', sans-serif;
}
body.dark-mode{
background-color:#333;
color:white;
.item{
background-color:#252525;
}
marquee,footer,nav{
background-color:#252525;
color:white;
}
}
.mode{
margin-top:20px;
}
html{
    scroll-behavior: smooth;
}
.logo img{
    width:164px;
    
}
nav {
    background-color: white;
}

nav ul {
    height: 65px;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 700;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover {
    background-color: #f0f0f0;
}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: white;
    /* background-color: rgba(255, 255, 255, 0.2); */
    /* backdrop-filter: blur(10px); */
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menubtn {
    display: none;
}

@media(max-width:800px) {
    .hideOnMobile {
        display: none;
    }

    .menubtn {
        display: block;
    }

    #Vidhyanand {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 130px;
    }

    #Vidhyanand img {
        width: 300px;
        margin-left: auto;
    }
}
@media(max-width:500px) {
    /* .sidebar {
        width: 100%;
    } */

    #Vidhyanand img {
        margin-right: auto;
    }

    #Vidhyanand .title {
        font-size: 2rem;
    }

    #Vidhyanand .section__text__p2 {
        font-size: 1.2rem;
    }

    #Education .title {
        margin-bottom: 25px;
        font-size: 2.5rem;
    }

    #Skills .title {
        margin-bottom: 25px;
        font-size: 2.5rem;
    }
}
.first{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
    margin: 70px;
    font-family: sans-serif;
}
.first span{
    font-size: 40px;
    animation-delay: 0.5s;
}
section span img{
    width: 83px;
    margin: 0 23px;
}
.first p{
    font-size: 23px;
    width: 72vw;
    text-align: center;
    animation-delay: 1s;
}

.first button{
    background-color: #37bcf3;
    border: 2px solid;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    padding: 14px 12px;
    cursor: pointer;
}
.none a{
    text-decoration: none;
    color: white;
}
.none.anim{
    animation-delay: 1.25s;
}

.small{
    font-size: 12px;
}
.second{
    max-width: 50vw;
    margin: auto;
}
.btn{
    /* display: inline-block; */
    background-color: #37bcf3;
    padding: 14px 12px;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    margin: 12px 0;
    cursor: pointer;
}
.btn a{
    text-decoration: none;
    color: white;
}
.green{
    background-color: rgb(77, 207, 77);
}
.item{
    padding: 21px;
    background: #f9f9f9;
    border-radius: 12px;
    font-size: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.grid.anim{
    animation-delay: 1.5s;
}
.item-lang{
    font-weight: 700;
    text-align: center;
    padding-bottom: 36px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}
.download:nth-child(2){
    font-size: 23px;
}
.download img{
    width: 65px;
    padding: 0 12px;
}
.download{
    display: flex;
    font-family: sans-serif;
    gap: 10px;
    align-items: center;
}
.checkBtn {
    display: none;
}

#check {
    display: none;
}

.checkBtn {
    cursor: pointer;
    font-size: 30px;
    float: right;
    color: #0b0a0a;
    line-height: 80px;
}

footer{
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    height: 40px;
    color: rgb(55, 54, 54);
    background-color: rgb(237, 234, 234);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    padding: 10px;
    
}


@media screen and (max-width:855px) {
    .grid{
        grid-template-columns: 1fr;
    }
    .first span{
        margin-top: 50px;
    }
}
@media screen and (max-width:600px){
    .second{
        max-width: 80vw;
        margin-top: -40px;
    }
    main{
        margin-top: -90px;
    }
}
.active {
    color: blue;
    font-size: 16px;
}

.scrollbar{
    background-color: rgba(250, 251, 228, 0.881);
    height: 40px;
    display: flex;
    padding-top: 4px;
}

.scrollbar marquee {
    /* animation: animate 10s infinite; */
    font-size: 1.4rem;
    /* font-weight: 400; */
    color: darkblue;
    width: 100vw;
}

/* @keyframes animate {
    0% {
        transform: translateX(130%);
    }
    100% {
        transform: translateX(-110%);
}
} */
button:active{
    box-shadow: 0 0 5px #37b3fc,0 0 25px #37b3fc;
    /* border-radius: 50px; */
}
.green:active {
    box-shadow: 0 0 5px rgb(77, 207, 77), 0 0 25px rgb(77, 207, 77);
}
.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}
@keyframes moveup {
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
    
}
main,
footer {
    display: none;
}

.loader {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    /* background-color: #16191e; */
    position: absolute;
}

.loader>div {
    height: 60px;
    width: 60px;
    border: 8px solid rgb(226, 225, 225);
    border-top-color:gold;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    animation: spin 1.5s infinite linear;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }

}
